<div class= "container">
	<h1> Acesso Negado! </h1><br><br>
	<div class="alert alert-danger" role="alert">
        Você pode tentar sair e entrar com uma outra conta <%= link_to 'aqui', destroy_user_session_path, method: :delete%>
      </div>
	
</div>