
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container">
  <h2 class = "form-control-heading">Sign up</h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" , :placeholder => "E-mail"%>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Senha" %><br>
    
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "Confirme a senha" %><br>
  

  <div class="actions">
    <%= f.submit "Increver-se", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>