

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class = "container">
    <h2 class="form-signin-heading">Log in(Funcionários)</h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "E-mail" %><br>
    <%= f.password_field :password, autocomplete: "current-password", :class => "form-control", :placeholder => "Senha" %>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Entrar", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
