<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :nome, :class => "form-control", :placeholder => "Nome" %>
  </div>

  <div class="field">
    <%= form.text_field :preco , :class => "form-control", :placeholder => "Preço"%>
  </div>

  <div class="field">
    <%= form.number_field :estoque , :class => "form-control", :placeholder => "Estoque"%>
  </div>

  <div class="field">
    <%= form.text_area :descricao , :class => "form-control", :placeholder => "Descrição"%>

  </div>

  <div class="actions">
    <%= form.submit "Criar", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
