<div class="container">
 <% @produtos.each do |produto| %>
      <div class="page-header">
        <h1><%= produto.nome %></h1>
      </div>
      <div class="well">
        <p><%= produto.descricao %></p>
      </div>
        <h2>R$ <%= produto.preco %></h2>
        <% if produto.estoque==0 %>
            <span class="label label-danger">Esgotado</span>
        <% elsif admin_signed_in? %>
        <h2>Estoque: <%= produto.estoque %> un.</td>
        <% else %>
            <button type="button" class="btn btn-lg btn-success"><%= link_to "Comprar", compra_path %></button>
        <% end %>
        <% if admin_signed_in? %>
        <br><tr>
        <td><%= link_to 'Mostrar', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
        <% end %>
    <% end %>
    
 </div>